<p id="notice"><%= notice %></p>
<div class="centered_container">
    <h1>Blog</h1>

    <% @posts.each do |post| %>
    <div class="card">
      <h3><%= post.title %></h3>
      <%= post.body.truncate(200) %>
      <p>
      <%= post.created_at.strftime("%m/%d/%Y") %> by <%= post.user.first_name %>&nbsp;<%= post.user.last_name %>
      </p>
      <div>
      <%= link_to 'Read Post', post %>
        <% if current_user && current_user == post.user || current_user && current_user.is_admin %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% if current_user && current_user.is_admin %>
    <%= link_to 'New Post', new_post_path %>
    <% end %>
</div>